$button-width: calc(2vh + 3vw + 50px);
$button-height: 40px;
$font-size-button-label: calc($button-width - 10px);
%btn {
  border: none;
  outline: none;
  width: $button-width;
  min-width: fit-content;
  height: $button-height;
  font-size: $font-size-button-label;
  font-family: $foodiesFont;
  color: $button-fonts-color;
  text-transform: capitalize;
  text-shadow: none;
  box-shadow: $shadow-gradiant;
  background-color: $button-color;
  margin: 1em 1em;
  transition: all 0.5s;

  &:hover {
    color: $button-fonts-hover-color;
    cursor: pointer;
    background-color: $button-hover-color;
    transition: all 0.5s;
  }
  &:active {
    background-color: $button-active-color;
    color: $button-fonts-active-color;
    box-shadow: $shadow-gradiant-inside;
    cursor: progress;
  }
  &.primary {
    background: $primary-button-color;
  }
  &.secondary {
    background: $secondary-button-color;
  }
  &.tertiary {
    background: $tertiary-button-color;
  }
  &:disabled {
    background: $disabled-button-color;
    color: $disabled-font-color;
    box-shadow: $shadow-gradiant-inside;
  }
}
button {
  @extend %btn;
  border-radius: 7px;
  background-color: transparent;
  overflow-x: hidden;
}
.circular-btn {
  @extend %btn;
  width: $button-height;
  border-radius: 50%;
}
