.container {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}
.flexible {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flexibleVerti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
