body.modal-open {
  overflow: hidden;
}

.modal {
  opacity: 0.2; /* Fade in/out animation. */
  transition: opacity 0.2s ease-in;
  background-color: #ff5e00a1 !important;
}

.modal-content {
  color: $light-background;
  background-color: $sunny;
  padding: 0.5em;
  border-radius: 7px;
}

.modal-header {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 1em;
}

.modal-header > h2 {
  flex: 1;
}

.modal-header .close {
  display: none;
}

.modal-body {
  text-align: center;
}
