span{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    font-size: x-large;
    font-family:monospace;
    color: #011111aa;
    font-weight:bold;
    z-index: 99;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}
