<!-- 
<h1>Cooking in progress..</h1>
<div id="cooking">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div id="area">
    <div id="sides">
      <div id="pan"></div>
      <div id="handle"></div>
    </div>
    <div id="pancake">
      <div id="pastry"></div>
    </div>
  </div>
</div> -->
<ngx-spinner bdColor = "rgba(0,0,0,0.8)" size = "default" color = "#fff" type = "ball-circus" [fullScreen] = "true"><img src="../../../favicon.ico" alt="loader" width="100px" ></ngx-spinner>