<div class="container">
    <div class="cactus">
        <div class="shadow">
        </div>
        <div class="right">
          <div class="cube top"></div>
          <div class="cube front"></div>
          <div class="cube side"></div>
        </div>
        <div class="fork">
          <div class="cube top"></div>
          <div class="cube front"></div>
        </div>
        <div class="middle">
          <div class="cube top"></div>
          <div class="cube front"></div>
          <div class="cube side"></div>
        </div>
        <div class="fork-left">
          <div class="cube top"></div>
          <div class="cube front"></div>
        </div>
        <div class="left">
          <div class="cube top"></div>
          <div class="cube front"></div>
          <div class="cube side"></div>
        </div>
        <p> 😯 Y a rien ici ...  <a routerLink="/root" style="text-decoration: none;" > ◄ retour</a> </p>  
      </div>
</div>
