<div class="container">
    <div class="containerForm">
        <form [formGroup]="signInForm" (ngSubmit)= "onSubmit()" class="form" id="form2">
            <h2 class="form__title">Sign In</h2>
            <input type="email" placeholder="Email"class="form-control" formControlName="email" id="email"/>
            <input type="password" placeholder="Password" class="form-control" formControlName="password" id="password" />
            <a href="#" class="link">Forgot your password?</a>
            <button type="submit" class="btn" [disabled]="signInForm.invalid">Sign In</button>
            <p class="text-danger">_______{{ errorMessages }}_____</p>
        </form>
        <div class="overlay">
                <button class="btn" id="signUp" [routerLink]="['/auth/register']" routerLinkActive="router-link-active" >Sign Up</button>
        </div>
    </div>
</div>