.signin {
  text-align: center;
  height: 100vh;
  input,
  .signinButton {
    width: 200px;
    height: 40px;
  }
  img {
    cursor: pointer;
    position: relative;
    bottom: 42px;
    left: 80px;
    height: 20px;
    margin: 0;
  }
}
.error {
  color: red;
}
.message {
  position: absolute;
  text-align: center;
  color: #ff0028;
  font-family: "Roboto mono", monospace;
}
