<div class="container signin flexible">
    <div class="containerForm">
        <form [formGroup]="signInForm" (ngSubmit)= "onSubmit()" class="form flexibleVerti" id="form2">
            <h1>Authentification</h1>
            <input type="email" placeholder="e-mail" class="form-control" formControlName="email" id="email"/>
            <input [type]="input ? 'text' : 'password'" placeholder="Mot de passe" class="form-control" formControlName="password" id="password" />
            <img (click)="toggleShow()" src={{src}} alt="" />
            <button type="submit" class="btn signinButton" [disabled]="signInForm.invalid">Connexion</button>
            <button type="button" class="btn signinButton" id="signUp" [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" >Creer un compte →</button>
            <p class="error">{{ errorMessages }}</p>
        </form>
        <a routerLink="/auth/lost" class="link" (mouseout)="showMe=false" (mouseover)="showMe=true">Mot de passe oubliez ?</a>
        <p *ngIf="showMe" class="message"><br/>essayez de vous en souvenir quand même ...</p>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0,0,0,0.9)" size = "medium" color = "#ff5e00" type = {{spin}} [fullScreen] = "true"><p style="color: #ff5e00" > Login ... </p></ngx-spinner>