.signin {
  text-align: center;
  input,
  .signinButton {
    width: 200px;
    height: 40px;
  }
  i {
    cursor: pointer;
    position: relative;
    bottom: 39px;
    left: 70px;
    width: 0;
    height: 0;
    margin: 0;
  }
}
.error {
  color: red;
}
