<div class="container signup">
    <div class="containerForm">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form flexibleVerti" id="form1">
            <h1>Creer Un Compte</h1>
            <input type="email" placeholder="e-mail" class="form-control" formControlName="email" id="email" />
            <input [type]="input ? 'text' : 'password'" placeholder="Mot de passe" class="form-control" formControlName="password" id="password" />
            <i (click)="toggleShow()" >👁️</i>
            <button type="submit" class="btn signupButton" [disabled]="signUpForm.invalid">Enregistrer</button>
            <button type="button" class="btn signupButton" id="signIn" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">← se connecter</button>
            <p class="error">{{ errorMessages }}</p>
        </form>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0,0,0,0.9)" size = "medium" color = "#ff5e00" type = "fire" [fullScreen] = "true"><p style="color: #ff5e00" > Enregistrement ... </p></ngx-spinner>