<div class="container">
    <div class="menu" *ngIf="menue" (click)="toogleMenu()">
        <h2 style="text-align: center; text-decoration: underline;">Menu</h2>
        <ul>
            <li *ngFor="let item of list">
               <a routerLink='{{item.router}}' >  {{item.label}} </a>
            </li>
        </ul>
    </div>
    <div class="hamburger">
        <img  (click)="toogleMenu()" src="./../../../assets/fav.ico" alt="" />
    </div>
    <div class="logo">
        <img routerLink="/root" src="./../../../assets/Fichier 2.svg" alt=""/>
    </div>
    <div class="title">
        {{ title }}
    </div>
</div>