@import "_colors";
.navbar {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: $box-shadow;
}
.pub {
  position: relative;
  padding: 0.5em;
  margin: 0;
  z-index: 9999;
  background-color: $font-color;
  text-align: center;
  * {
    text-align: center;
    color: white;
  }
}
.menuList {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100px;
  box-sizing: border-box;
  border-right: dashed 2px $font-color;
}
.menu {
  box-sizing: border-box;
  text-align: center;
  width: 100px;
  border-right: dashed 2px $font-color;
  padding: 0.7em;
  cursor: pointer;

  img {
    width: 35px;
  }
}
.logo {
  width: 150px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  .title {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: $sunny;
    transform: rotate(-5deg);
  }
}
.recherche {
  width: 400px;
  height: 50px;
}
.profil {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 50px;
  padding: 5px;
  cursor: pointer;

  span {
    margin: 0 0.5em;
  }
  .profilPic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px $sunny;
    background: transparent;
    overflow: hidden;
    padding: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
