<div class="pub" *ngIf="isPub" [@inOutAnimation]>
  <app-pubbar></app-pubbar>
</div>
<nav class="navbar">
  <div class="menu" (click)="toogleMenu()" (clickOutside)="isOpen = false">
    <img src="{{ menu }}" alt="menu" />
    <app-menu [isOpen]="isOpen" class="menuList"></app-menu>
  </div>
  <div class="logo">
    <h1 class="title">🍴{{ title }}</h1>
  </div>
  <div class="recherche">
    <app-searchbar style="margin-top: 8px; height: 100%"></app-searchbar>
  </div>
  <div class="profil" [routerLink]="['users', 'profil']">
    <div class="profilPic">
      <img src="{{ picture }}" alt="profil" />
    </div>
    <span class="user">
      {{ user.name }}
    </span>
  </div>
</nav>
