<div class="container user">
  <div class="container">
    <h1>Profil</h1>
    <div >
        <p>Nom :</p> 
        <input id="firstName"  type="text" value="{{user.firstName}}" [disabled] = !editMode #firstName/>
        <p>Prenom :</p>
        <input id="lastName" type="text" value="{{user.lastName}}" [disabled] = !editMode #lastName/>
        <p>Email : </p>
        <input type="text" value="{{user.email}}" disabled/>
        <p>Password : </p>
        <input type="password" placeholder="Mot de passe !!!" [disabled] = !editMode #pass/>
        <br>
        <button (click) = "editMode=false"  *ngIf="editMode">Annuler</button>
        <button (click) = "editUser()" *ngIf="!editMode">Edit</button>
        <button (click) = "saveUserConfirmation.open()" *ngIf="editMode">Save</button>
    </div>
  </div>
  <div class="container">
    <h1>Contact</h1>
    <div>
        <p>Alias :</p> 
                   
        <ng-select notFoundText="Aucun alias trouvée" [items]="people"
        
        ></ng-select>
            
        <p>Numero :</p>
        <input type="number" maxlength="10" max="10"/>
      
        <p>Rôle : </p>
        <input />
       
        <p>Description : </p>
        <textarea></textarea>
        <br>
       
    </div>
  </div>
</div>
<modal #userWelcome >
  <ng-template #modalHeader>
    <h3>Confirmation Utilisateur</h3>
  </ng-template>
  <ng-template #modalBody>
    <p>Pour commencer , veuillez compléter votre profil</p>
    <button (click)="userWelcome.close()">ok</button>
  </ng-template>
</modal>

<modal #saveUserConfirmation >
  <ng-template #modalHeader>
    <h3 >Confirmation Utilisateur</h3>
  </ng-template>
  <ng-template #modalBody>
    <p >sauver ?</p>
    <button (click)="saveUserConfirmation.close();editMode=false">Annuler</button>
    <button (click)="saveUser()">enregistrer</button>
  </ng-template>
</modal>

<modal #successSaveUser >
  <ng-template #modalHeader>
    <h3>Confirmation Utilisateur</h3>
  </ng-template>
  <ng-template #modalBody>
    <p>utlisateur enregistrer avec succes</p>
    <button (click)="successSaveUser.close()">ok</button>
  </ng-template>
</modal>
<modal #errorSaveUser >
  <ng-template #modalHeader>
    <h3>Erreur d'enregistrement</h3>
  </ng-template>
  <ng-template #modalBody>
    <p>le mot de passe est invalide</p>
    <button (click)="errorSaveUser.close()">ok</button>
  </ng-template>
</modal>