@import "colors.scss";

.user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .container {
    width: 270px;
    input,
    textarea {
      border: solid 1px white;
    }
  }
}
.container > .container {
  padding: 0;
  div {
    padding-left: 0.5em;
    border-left: dotted 1px $sunny;
  }
}
select {
  min-width: 148px;
}
textarea {
  box-sizing: border-box;
  min-width: 148px;
  height: 30vh;
  resize: none;
}
.submit {
  position: fixed;
  width: 95vw;
  display: flex;
  justify-content: center;
  bottom: 15px;
}
