<div class="container user">
  <div class="container">
    <h1>Profil</h1>
    <div >
        <p>Nom :</p> 
        <input id="firstName"  type="text" value="{{user.firstName}}" [disabled] = !editMode #firstName/>
        <p>Prenom :</p>
        <input id="lastName" type="text" value="{{user.lastName}}" [disabled] = !editMode #lastName/>
        <p>Email : </p>
        <input type="text" value="{{user.email}}" disabled/>
        <p>Password : </p>
        <input type="password" placeholder="Mot de passe !!!" [disabled] = !editMode #pass/>
    </div>
  </div>

  <div class="container">
    <h1>Contact</h1>
    <div>
        <p>Numero :</p>
        <ng-select                 
                    [multiple]="true"
                    [disabled] = !editMode
                    [addTag]="true"
                    [selectOnTab]="true"
                    [isOpen]="false"
                    placeholder="Saisissez puis entrer"
                    notFoundText="Aucun numéro"
                    addTagText="Ajouter un nouvel élément"
                    [(ngModel)]="user.numero"
                    bindValue="label"
        ></ng-select>
      
        <p>Adresse : </p>
        <input id="adresse"  type="text" value="{{user.adresse}}" [disabled] = !editMode #adresse/>
    </div>
  </div>

  <div class="container">
    <h1>Autre</h1>
    <div>
        <p>Personalité :</p>  
        <ng-select notFoundText="Aucune personalité trouvée" [items]="people" [disabled] = !editMode [(ngModel)]="user.perso"
        ></ng-select>

        <p>Citation : </p>
        <textarea id="citation" value="{{user.citation}}" [disabled] = !editMode #citation></textarea>
        <br>
    </div>
    <br>
  </div>

  <div class="container">
    <h1>Photo</h1>
    <div class="img">
      <img src="{{ImageProfilData}}" alt="profil image" onerror="this.src='../../../../../assets/Placeholder.png'" (click)="profil.open()">
    </div>
    <div class="uploadImage">
      <input type="file" id="file"  name="FUImage" accept=".png, .jpg, .jpeg, .gif" (change)="handleFileInput($event);"> 
      <label for="file" class="labelImage"><img src="../../../../../assets/icons/72.png" alt="photo" ></label>
    </div>
  </div>

  <br>
</div>
<div class="submit">
  <button (click) = "editMode=false"  *ngIf="editMode">Annuler</button>
  <button (click) = "editUser()" *ngIf="!editMode">Edit</button>
  <button (click) = "saveUserConfirmation.open()" *ngIf="editMode">Save</button>
</div>
<modal #userWelcome >
  <ng-template #modalHeader>
    <h3>Confirmation Utilisateur</h3>
  </ng-template>
  <ng-template #modalBody>
    <p>Pour commencer , veuillez compléter votre profil</p>
    <button (click)="userWelcome.close()">ok</button>
  </ng-template>
</modal>

<modal #saveUserConfirmation >
  <ng-template #modalHeader>
    <h3 >Confirmation Utilisateur</h3>
  </ng-template>
  <ng-template #modalBody>
    <p >sauver ?</p>
    <button (click)="saveUserConfirmation.close();editMode=false">Annuler</button>
    <button (click)="saveUser()">enregistrer</button>
  </ng-template>
</modal>

<modal #successSaveUser >
  <ng-template #modalHeader>
    <h3>Confirmation Utilisateur</h3>
  </ng-template>
  <ng-template #modalBody>
    <p>utlisateur enregistrer avec succes</p>
    <button (click)="successSaveUser.close();reload()">ok</button>
  </ng-template>
</modal>
<modal #errorSaveUser >
  <ng-template #modalHeader>
    <h3>Erreur d'enregistrement</h3>
  </ng-template>
  <ng-template #modalBody>
    <p>le mot de passe est invalide</p>
    <button (click)="errorSaveUser.close()">ok</button>
  </ng-template>
</modal>

<modal #profil >
  <ng-template #modalBody>
    <div class="profilPicture">
      <img src="{{ImageProfilData}}" alt="Profil Image">
    </div>
  </ng-template>
</modal> 

<modal #image >
  <ng-template #modalHeader>
    <h3>Profil Picture</h3>
  </ng-template>
  <ng-template #modalBody>
    <div class="image">
      <img src="{{ImageProfilData}}" alt="Selected Image">
    </div>
    <button (click)="image.close()">Cancel</button>
    <button type="button" (click)="btnUpload();image.close()">Save</button> 
  </ng-template>
</modal> 