<!-- <div class="contain">
  <div class="container One">
    <img src="../assets/gold.svg" alt="">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, in eaque. Rem, deserunt. Voluptatum quam mollitia hic facilis quidem, perspiciatis magni dolorem doloribus esse dicta possimus corporis officia temporibus repudiandae. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos dolor error autem voluptatem fugiat! Fuga placeat corporis quod consequuntur hic. Unde autem sint obcaecati. Dolores natus sint labore et consequuntur.</p>  
  </div>
  <div class="container Two">
    <img src="../assets/gold2.svg" alt="">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptatibus in inventore sit, esse molestiae numquam illo architecto dolorem magni culpa dolore! Ut illo ab esse repellendus corporis architecto magni?</p>  
  </div>
</div> -->
<router-outlet></router-outlet>
