.link {
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.router {
  width: 95vw;
  height: 100vh;
}
.menu {
  display: none;
}
.navbar {
  background-color: #ff5e0088;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  img {
    height: 25px;
    padding: 0.5em;
  }
}
.list {
  ul {
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    li {
      cursor: pointer;
      transition: all 0.5s;
      margin: 0 0.2em;
      font-size: 20px;
      text-transform: capitalize;
      color: white;
      &:hover {
        text-decoration: underline;
        transition: all 0.5s;
        letter-spacing: 1px;
        text-shadow: 1px 1px #ff5e00;
      }
      img {
        height: 25px;
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .undisplay {
    display: none !important;
  }
  .menu {
    display: initial;
    position: absolute;
    background-color: #ff5e00bb;
    padding: 1em;
    text-align: center;
    border-radius: 7px;
    left: 1em;
    right: 1em;
    top: 12vh;
    ul li {
      color: white;
      font-size: 1em;
      text-transform: capitalize;
      margin: 0.5em 0;
    }
  }
  .navbar {
    justify-content: center;
  }
  .list {
    display: none;
  }
}
