.link {
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.router {
  width: 95vw;
  height: 100vh;
}
.navbar {
  background-color: #ff5e0088;
  border-radius: 5px;
  ul {
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    li {
      cursor: pointer;
      transition: all 0.5s;
      margin: 0 0.2em;
      font-size: 20px;
      text-transform: capitalize;
      color: white;
      &:hover {
        text-decoration: underline;
        transition: all 0.5s;
        letter-spacing: 1px;
        text-shadow: 1px 1px #ff5e00;
      }
      img {
        height: 25px;
      }
    }
  }
}
