p,
p * {
  color: #ff5e00;
  font-family: monospace;
  font-size: 15px;
  text-align: center;
}
input,
button {
  width: 240px;
  height: 40px;
}
.link {
  cursor: pointer;
  color: white;
  font-family: monospace;
  margin: 1em 0;
}
