@import "colors.scss";
@import "fonts.scss";

.main {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(1vw + 1vh + 12px);
}

.title {
  letter-spacing: 7px;
  font-family: $base-font;
  color: $sunny;
  margin: 1em 0;
}

.subject {
  animation: anim ease alternate infinite 1s;
}

@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
