@import "../../styles/colors";

.main {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emojy {
  font-size: calc(1vw + 1vh + 12px);
  letter-spacing: 7px;
  font-family: "Roboto Mono";
  color: $sunny;
  margin: 1em 0;
}
