<div class="container">
   <h1>Welcome👋</h1>
   <p class="about">
    🍖🥩🥓🍔🍟🍕🌭🥪🌮🌯
    🥙🧆🥚 🍳🥘🍲🥣🥗🍿🧈🧂🥫🍱🍘🍙🍚🍛🍜🍝🍠🍢
       🍣🍤🍥🥮🍡🥟🥠🥡🦀🦞🦐🦑🦪🍦🍧🍨🍩🍪🎂🍰🧁🥧🍫🍬🍭🍮🍯🍼🥛☕
       <br/>  Bienvenue sur Foodies   <br/>
       🍇🍈🍉🍊🍋🍌🍍🥭🍎🍏🍐🍑🍒🍓🥝🍅🥥🥑🍆🥔🥕🌽🌶️🌶🥒🥬🥦🧄🧅🍄🥜🌰🍞🥐🥖<br>
       Pour commencez , veuillez choisire une ou plusieur categorie de recettes ↓
   </p>
   <div class="choose">
    <ul>
      <li *ngFor="let list of lists">
        <mat-checkbox labelPosition="after" color="warn">
          {{list.label}}
        </mat-checkbox>
      </li>
    </ul>
   </div>
</div>