.container {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 30px;
  background: url("https://picsum.photos/id/488/1024/500/?blur=2");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: grid;
  grid-template-areas:
    "recherche . title . recherche2"
    "filter text text text mes"
    "filter . app . mes"
    ". . . . link";
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  column-gap: 0px;
  justify-items: center;
  align-items: center;
  align-content: space-evenly;

  // filter: blur(10px);
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #ff5e00;
  }
}
h1 {
  text-align: center;
  grid-area: title;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: rgb(255, 199, 149);
  font-size: 30px;
  font-family: cursive;
  &:hover {
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
    // transition: all 1s;
  }
}
p {
  font-family: cursive;
  // border-radius: 5px;
  grid-area: text;
  color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 0 0 2rem 2rem;
  background: linear-gradient(
      217deg,
      rgba(255, 72, 0, 0.973),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, #f59404, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(192, 8, 183, 0.836), rgba(0, 0, 255, 0) 70.71%);
}
.choose {
  grid-area: filter;
  width: 100%;
  align-self: center;
  justify-self: center;
  text-overflow: ellipsis;
  height: 100%;
  overflow-y: scroll;
  .head {
    position: sticky;
    top: 0;
    background-color: #ff9900;
    z-index: 1;
    border-radius: 20rem 0 20rem 0;
    text-transform: uppercase;
    justify-content: center;
    color: #fff;
    font-size: 15px;
  }
  .item {
    color: #ff5e00;
    font-family: monospace;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    width: 45px;
    list-style: none;
  }
}
.top {
  height: 100%;
  text-overflow: ellipsis;
  width: 100%;
  grid-area: mes;
  .example-viewport {
    height: 100%;
    width: 100%;
    :nth-child(odd) {
      background-color: #ff5e00;
      color: #fff;
    }
    // border: 1px solid black;
  }

  .example-item {
    padding-top: 20px;
    height: 40px;
    text-align: center;
    color: #ff5e00;
    border-radius: 0 10rem 0 10rem;
  }
}
.down {
  justify-content: center;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5e00;
  color: #fff;
  bottom: 25px;
  position: fixed;
  width: 20px;
  text-align: center;
  margin-left: 9%;
  z-index: 1;
  border: solid 1px white;
}
.link {
  grid-area: link;
}
.anim {
  grid-area: app;
  #loader {
    background: #f6f4e8;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
  }
  #loader .emoji,
  #loader .text {
    -webkit-animation-name: blurIn;
    animation-name: blurIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.58, -0.23, 0.3, 1.3);
    animation-timing-function: cubic-bezier(0.58, -0.23, 0.3, 1.3);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  #loader .emoji {
    display: block;
    font-size: 3.5em;
    margin-bottom: 0.2em;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  #loader .text {
    line-height: 1;
    color: #7f6544;
    font-size: 20px;
    margin-right: -14px;
  }
  #loader .text:after {
    content: "";
    display: inline-block;
    background: transparent;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-left: 18px;
    box-shadow: -3px 0 0 rgba(127, 101, 68, 0.6),
      -9px 0 0 rgba(127, 101, 68, 0.6), -15px 0 0 rgba(127, 101, 68, 0.6);
    -webkit-animation: pulseEllipsis 0.8s infinite both ease-in-out;
    animation: pulseEllipsis 0.8s infinite both ease-in-out;
  }
  #loader .animateOut {
    -webkit-animation-name: blurOut;
    animation-name: blurOut;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: cubic-bezier(0.58, -0.23, 0.3, 1.3);
    animation-timing-function: cubic-bezier(0.58, -0.23, 0.3, 1.3);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}

@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}
@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}

@-webkit-keyframes blurIn {
  0% {
    transform: translate3d(0, -60px, 0) scale(0.9, 2);
    filter: blur(3px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes blurIn {
  0% {
    transform: translate3d(0, -60px, 0) scale(0.9, 2);
    filter: blur(3px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes blurOut {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 60px, 0) scale(0.9, 2);
    filter: blur(3px);
    opacity: 0;
  }
}
@keyframes blurOut {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 60px, 0) scale(0.9, 2);
    filter: blur(3px);
    opacity: 0;
  }
}
@-webkit-keyframes pulseEllipsis {
  0% {
    box-shadow: -3px 0 0 rgba(127, 101, 68, 0.6),
      -9px 0 0 rgba(127, 101, 68, 0.6), -15px 0 0 rgba(127, 101, 68, 0.6);
  }
  20% {
    box-shadow: -3px 0 rgba(127, 101, 68, 0.6), -9px 0 0 rgba(127, 101, 68, 0.6),
      -15px 0 0 #7f6544;
  }
  40% {
    box-shadow: -3px 0 0 rgba(127, 101, 68, 0.6), -9px 0 0 #7f6544,
      -15px 0 0 rgba(127, 101, 68, 0.6);
  }
  60% {
    box-shadow: -3px 0 0 #7f6544, -9px 0 0 rgba(127, 101, 68, 0.6),
      -15px 0 0 rgba(127, 101, 68, 0.6);
  }
}
@keyframes pulseEllipsis {
  0% {
    box-shadow: -3px 0 0 rgba(127, 101, 68, 0.6),
      -9px 0 0 rgba(127, 101, 68, 0.6), -15px 0 0 rgba(127, 101, 68, 0.6);
  }
  20% {
    box-shadow: -3px 0 rgba(127, 101, 68, 0.6), -9px 0 0 rgba(127, 101, 68, 0.6),
      -15px 0 0 #7f6544;
  }
  40% {
    box-shadow: -3px 0 0 rgba(127, 101, 68, 0.6), -9px 0 0 #7f6544,
      -15px 0 0 rgba(127, 101, 68, 0.6);
  }
  60% {
    box-shadow: -3px 0 0 #7f6544, -9px 0 0 rgba(127, 101, 68, 0.6),
      -15px 0 0 rgba(127, 101, 68, 0.6);
  }
}
@-webkit-keyframes fadeInOutLong {
  0%,
  35% {
    opacity: 0;
  }
  40%,
  85% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOutLong {
  0%,
  35% {
    opacity: 0;
  }
  40%,
  85% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
  }
}
