@import "./app/styles/index.scss";

* {
  font-family: "Roboto Mono";
}
body {
  background: url("https://picsum.photos/id/292/820/400/?blur=1");
  background-size: cover;
  background-color: $sunny;
  background-attachment: fixed;
  scrollbar-width: thin;
}
