// @import "~bootstrap/scss/bootstrap";
@import "./app/styles/index.scss";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

* {
  font-family: "Marck Script", cursive;
  text-shadow: 1px 1px white;
  &::selection {
    color: white;
    background: linear-gradient(to right, $sunny, $sunny);
  }
  &::-moz-selection {
    color: white;
    background: linear-gradient(to right, $sunny, $sunny);
  }
}

body {
  background: url("https://picsum.photos/id/292/820/400/?blur=1");
  background-size: cover;
  background-position: center;
  background-color: $sunny;
  background-attachment: fixed;
  scrollbar-width: thin;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

a,
a.link {
  text-shadow: none;
  color: $paragraph-font-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
