<div class="container">
<h1>Nouveau recette</h1>
<div class="flexibleHori">
<div class="form">
<form #recip="ngForm" (ngSubmit)="onSubmit(recip)">
  <p>Nom :</p>
  <input class="form-control" name="name" ngModel id="name" type="text" placeholder="nom" />
  <p>Tag :</p>
  <input class="form-control" name="tag" ngModel id="tag" type="text" placeholder="tag" />
  <p>Catégorie :</p>
  <input class="form-control" name="categorie" ngModel id="categorie" type="text" placeholder="categorie" />
  <p>Temp :</p>
  <input class="form-control" name="time" ngModel id="time" type="text" placeholder="temp" />
  <p>Titre :</p>
  <input class="form-control" name="time" ngModel id="time" type="text" placeholder="temp" />
  <button type="submit">Submit</button>
</form>
</div>
<div class="form">
  <form #recip="ngForm" (ngSubmit)="onSubmit(recip)">
  <p>Titre :</p>
    <textarea id="recip" type="text" placeholder="recette"></textarea>
  </form>
  </div>
  <div class="form">
    <form #recip="ngForm" (ngSubmit)="onSubmit(recip)">
    <p>Titre :</p>
      <textarea id="recip" type="text" placeholder="recette"></textarea>
    </form>
    </div>
</div>
</div>
<modal #successSave >
    <ng-template #modalHeader>
      <h3>Save success</h3>
    </ng-template>
    <ng-template #modalBody>
      <p>sauvegarde effectuer avec succes</p>
      <button (click)="successSave.close();">ok</button>
    </ng-template>
  </modal>