<div class="container">
<h1>Nouveau recette</h1>
<div class="recipForm">
  <form #recip="ngForm" (ngSubmit)="onSubmit(recip)" class="flexibleHori">
          <div class="form">
              <p>Nom :</p>
              <input class="form-control" name="name" ngModel id="name" type="text" placeholder="nom" required/>

              <p>Tag :</p>
                <input class="form-control" name="tag" ngModel id="tag" type="text" placeholder="tag" required/>

              <p>Catégorie :</p>
                <ng-select notFoundText="Aucun catégorie trouvée" id="category" [items]="allcategory" [(ngModel)]="category" name="category" required
                >
                </ng-select>

              <p>Temp de préparation :</p>
                <input id="time1" placeholder="hh:mm" [(ngModel)]="cleave1" name="time1" required #time1 />

              <p>Temp de cuisson :</p>
                <input id="time2" placeholder="hh:mm" [(ngModel)]="cleave2" name="time2" required #time2 />

          </div>

          <div class="form">
              <p>Ingrédients :</p>
              <ng-select   
              id="ingredient"            
              [multiple]="true"
              bindValue="label"
              [addTag]="true"
              [selectOnTab]="true"
              [isOpen]="false" required
              placeholder="Saisissez puis entrer"
              notFoundText="Aucun ingrédient"
              addTagText="Ajouter une nouvelle ingrédient"
              [(ngModel)]="ingredient"
              name="ingredient"></ng-select>

              <p>Ustensiles :</p>
              <ng-select        
              id="utensils" 
              [multiple]="true"
              [addTag]="true"
              bindValue="label"
              [selectOnTab]="true"
              [isOpen]="false" required
              placeholder="Saisissez puis entrer"
              notFoundText="Aucun Ustensiles"
              addTagText="Ajouter un ustensiles"
              [(ngModel)]="utensils"
              name="utensils"></ng-select>
          </div>

          <div class="form">
            <p>Préparation :</p>
              <textarea ngModel id="postrecip" type="text" placeholder="recette" name="postrecip" required></textarea>
          </div>
          <div class="form">
            <p>Cuisson :</p>
              <textarea ngModel id="recip" type="text" placeholder="recette" name="recip" required></textarea>
          </div>
          <div class="form">
            <p>Décoration :</p>
              <textarea ngModel id="afterrecip" type="text" placeholder="recette" name="afterrecip"></textarea>
          </div>
              <br><br>

    <button type="submit" [disabled]="recip.invalid" >Enregistrer</button>
  </form>
</div>
</div>
<modal #successSave >
    <ng-template #modalHeader>
      <h3>Recette enregistrer</h3>
    </ng-template>
    <ng-template #modalBody>
      <p>sauvegarde effectuer avec succes</p>
      <button (click)="successSave.close();reload()">ok</button>
    </ng-template>
</modal>
<modal #errorSave >
  <ng-template #modalHeader>
    <h3>Recette erreur</h3>
  </ng-template>
  <ng-template #modalBody>
    <p>erreur de sauvegarde</p>
    <button (click)="errorSave.close();reload()">Retour</button>
  </ng-template>
</modal>